<li class="nav-item">
  <a class="nav-link" href="#">Insights</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Test Plans</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Profiles</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Scratchpad</a>
</li>
